.title-font {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.body-font {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #fff;
}

.button-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.button-shape {
  color: #272142;
  background: #fff;
  padding: 18px 45px;
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.homepage {
  background-color: #1b1b1b;
}

.hero {
  background-image: url("/images/bg-image.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 908px;
}

.caption {
  width: 595px;
  color: #fff;
  text-align: center;
}

.my-name {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.topic {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-bottom: 10px;
}

.content-spacing {
  margin-bottom: 70px;
}

.container-gallery {
  align-items: center;
  justify-content: center;
  padding: 0 144px;
  margin: 100px 0;
}

.subtitle {
  color: #f65282;
  font-size: 18px;
}
.about-title {
  font-size: 55px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-bottom: 10px;
}

.about-spacing {
  margin: 30px 0px 40px 0px;
}

.container-about {
  align-items: center;
  margin: 100px 0px;
}

.about-content {
  padding: 10px 144px 30px 0px;
}

.camera-container {
  background-color: #2d2727;
  padding: 20px;
  max-width: 423px;
  display: flex;
}

.gallery-title {
  text-align: center;
  color: #fff;
}

.footer-main {
  display: flex;
  text-align: center;
  background-color: #282323;
  color: #fff;
  padding: 25px 5px;
}

.shecodes {
  height: 24.75px;
  width: 150px;
}

.fa-brands {
  color: #fff;
  font-size: 16px;
  display: flex;
}
.copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
