.body-font {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.button-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.mb-1 {
  margin-bottom: 30px;
}

.hero {
  background-image: url("/images/bg-image.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 908px;
}

.caption {
  width: 595px;
  color: #fff;
  text-align: center;
}

.my-name {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.topic {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-bottom: 10px;
}

.hero-details {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 70px;
}

.get-started {
  color: #272142;
  background: #fff;
  padding: 18px 45px;
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
